# Step 3: Climate Analysis and Data Exploration
Used sqlalchemy to create main classes and perform Precipitation Analysis

In [1]:
# Python SQL toolkit and Object Relational Mapper
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

In [2]:
# Create engine using the `hawaii.sqlite` database file
engine = create_engine('sqlite:///hawaii.sqlite')

In [3]:
# Declare a Base using `automap_base()`
Base = automap_base()

In [4]:
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [5]:
# Print all of the classes mapped to the Base
Base.classes.keys()

['measurement', 'station']

In [6]:
Station = Base.classes.station
Measurement = Base.classes.measurement

In [7]:
session = Session(engine)
list(Station.__table__.columns)

[Column('id', INTEGER(), table=<station>, primary_key=True, nullable=False),
 Column('station', VARCHAR(length=255), table=<station>),
 Column('name', VARCHAR(length=255), table=<station>),
 Column('latitude', FLOAT(), table=<station>),
 Column('longitude', FLOAT(), table=<station>),
 Column('elevation', FLOAT(), table=<station>)]

In [8]:
for row in session.query(Station.id,Station.station,Station.name,Station.latitude,Station.longitude,Station.elevation).limit(10).all():
    print(row)

(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0)
(2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6)
(3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0)
(4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9)
(5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)
(6, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5)
(7, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999995, 32.9)
(8, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9)
(9, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)

In [9]:
list(Measurement.__table__.columns)

[Column('id', INTEGER(), table=<measurement>, primary_key=True, nullable=False),
 Column('station', VARCHAR(length=255), table=<measurement>),
 Column('date', VARCHAR(length=255), table=<measurement>),
 Column('prcp', FLOAT(), table=<measurement>),
 Column('tobs', INTEGER(), table=<measurement>)]

In [14]:
for row in session.query(Measurement.id, Measurement.station, Measurement.date, Measurement.prcp, Measurement.tobs).limit(20).all():
    print(row)

(1, 'USC00519397', '2010-01-01', 0.08, 65)
(2, 'USC00519397', '2010-01-02', 0.0, 63)
(3, 'USC00519397', '2010-01-03', 0.0, 74)
(4, 'USC00519397', '2010-01-04', 0.0, 76)
(5, 'USC00519397', '2010-01-07', 0.06, 70)
(6, 'USC00519397', '2010-01-08', 0.0, 64)
(7, 'USC00519397', '2010-01-09', 0.0, 68)
(8, 'USC00519397', '2010-01-10', 0.0, 73)
(9, 'USC00519397', '2010-01-11', 0.01, 64)
(10, 'USC00519397', '2010-01-12', 0.0, 61)
(11, 'USC00519397', '2010-01-14', 0.0, 66)
(12, 'USC00519397', '2010-01-15', 0.0, 65)
(13, 'USC00519397', '2010-01-16', 0.0, 68)
(14, 'USC00519397', '2010-01-17', 0.0, 64)
(15, 'USC00519397', '2010-01-18', 0.0, 72)
(16, 'USC00519397', '2010-01-19', 0.0, 66)
(17, 'USC00519397', '2010-01-20', 0.0, 66)
(18, 'USC00519397', '2010-01-21', 0.0, 69)
(19, 'USC00519397', '2010-01-22', 0.0, 67)
(20, 'USC00519397', '2010-01-23', 0.0, 67)