# Step 2: Database Engineering
Model table schemas and create a sqlite database for Stations and Measurements.

In [1]:
# Dependencies
# ----------------------------------
import pandas as pd
import os
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, DateTime, Float
from sqlalchemy.orm import Session

Base = declarative_base()

In [2]:
clean_hawaii_st = os.path.join('clean_hawaii_stations.csv')
clean_hawaiist_df = pd.read_csv(clean_hawaii_st, encoding="utf-8")

In [3]:
clean_hawaiist_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [4]:
clean_hawaii_station_df = clean_hawaiist_df

In [5]:
class Station(Base):
    __tablename__ = 'station'
    __table_args__ = {'extend_existing':True}
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float(9,4))
    longitude = Column(Float(9,4))
    elevation = Column(Float(9,4))

In [6]:
engine = create_engine('sqlite:///hawaii.sqlite')

In [7]:
# Once you have your ORM classes defined, create the tables in the database using create_all.
Base.metadata.create_all(engine)

In [8]:
clean_hawaii_station_df.to_sql('station', engine, if_exists='append', index=False)

In [9]:
clean_hawaii_ms = os.path.join('clean_hawaii_measurements.csv')
clean_hawaiims_df = pd.read_csv(clean_hawaii_ms, encoding="utf-8")

In [10]:
clean_hawaiims_df.head()
clean_hawaiims_df.count()

station    18103
date       18103
prcp       18103
tobs       18103
dtype: int64

In [11]:
clean_hawaii_measurement_df = clean_hawaiims_df

In [12]:
#Base2 = declarative_base()
# create measurement and station classes
class Measurement(Base):
    __tablename__ = 'measurement'
    __table_args__ = {'extend_existing':True}
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Integer)

In [13]:
engine = create_engine('sqlite:///hawaii.sqlite')

In [14]:
Base.metadata.create_all(engine)

In [15]:
clean_hawaii_measurement_df.to_sql('measurement', engine, if_exists='append', index=False)